* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

html {
	overflow: hidden;
}

body {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

p {
	font-size: 18px;
	color: black;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	margin-bottom: 5px;
}

a {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

canvas {
	position: absolute;
	display: block;
	overflow: hidden;
}

label {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	color: black;
}

select {
	width: 280px;
	height: 40px;
	margin-bottom: 10px;
	text-align: center;
}

a {
	position: absolute;
	bottom: 15px;
}

#menu {
	width: 340px;
	height: 100vh;
	background-color: rgb(245, 245, 245);
	/*background-image: linear-gradient(to right, rgb(225, 226, 234), white);*/
	color: #fff;
	display: flex;
	flex-direction: column; 
	justify-content: flex-start;
	align-items: center;
	padding-top: 1rem;
	position: absolute;
}

button, select {
	text-align: center;
	border: 0px;
	border-style: solid;
	border-color: rgb(100, 100, 100);
	border-radius: 15px;
	font-size: 18px;
}

button:hover, select:hover {
	border: 1px;
	border-style: solid;
	border-color: rgb(100, 100, 100);
	border-radius: 15px;
	cursor:	pointer;
}

button:active {
	border-color: red;
}

#canvas-container {
	border: 0px;
	border-style: solid;
	border-color: rgb(120, 120, 120);
}

.menuButtonWide {
	width: 280px;
	height: 40px;
	margin-bottom: 10px;
}

.menu-text-input {
	width: 280px;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 10px;
	border: 0px;
	border-style: solid;
	border-color: rgb(100, 100, 100);
	border-radius: 15px;
	font-size: 18px;
}

.with-margin {
	margin-top: 20px;
}

.file-input {
	color: black;
	margin-bottom: 10px;
}

#item-select {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: white;
	width: 280px;
	height: calc(100vh - 370px);
	border: 0px;
	border-style: solid;
	border-color: rgb(120, 120, 120);
	text-align: center;
	padding: 15px;
	overflow-x: hidden;
    overflow-y: auto;
}

.object-place {
	width: 150px;
	height: auto;
	margin-top: 15px;
}

.object-label {
	margin-top: 0px;
	margin-bottom: 25px;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 20px;
}

.place-button {
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}

.place-button:hover {
	border: 1px;
	border-style: solid;
	margin-bottom: -1px;
	margin-top: -1px;
}

.tool-button {
	width: 64px;
	height: 64px;
}

.tool-button {
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
}

.logo {
	width: 40px;
	height: auto;
}
